html{
  font-size: 18px;
}

body{
  font-size:18px;
  font-family: Helvetica;
}

.logo{
  background-color: black;

}

.container{
  max-width: 960px;
  margin: 0 auto;
  padding-left:0.5rem;
  display: flex;
  align-items: center;
}

.logo span{
  color:white;
  font-size: 1rem;
  font-family: Helvetica;
  margin-top:0.66rem;
  margin-bottom: 0.66rem;
  padding-left: 1rem;
}

.header{
  background-image:
  url(moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.header .content{
  max-width: 960px;
  margin: 0 auto;
  padding-top: 9rem;
}

.block{
  background-color: black;
  width: 20rem;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  padding: 2rem 3rem;
}

.block h1{
  font-size: 2rem;
}

.block p{
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.banner{
  background-color: firebrick;
  color: white;
  font-family: Helvetica;
}

.banner .container1{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding-top:0.75rem;
  padding-bottom: 0.75rem;
}

@media only screen and (min-width: 1024px){
  .banner .container2{
    display: none;
  }
}

.products{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.products .titles{
  padding: 0.5rem;
  color: white;
  background-color: black;
  font-family: Helvetica;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.products img{
  max-width: 8rem;
}

.img{
  padding: 2rem ;
  border-bottom: 4px solid black;
  text-align: center;
}

.pen{
  border: 4px solid black;
  width: 30%;
}

.watch{
  border: 4px solid black;
  width: 30%;
}

.glasses{
  border: 4px solid black;
  width: 30%;
}

.glasses .img{
  padding: 4.12rem 2rem;
}

.l-container{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-family: Helvetica;
}

.Location{
  width: 35%;
}

.Hours{
  width: 35%;
}

.Location .title{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding: 1rem;
}

.Hours .title{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding: 1rem;
}

.footer{
  background-color: black;
  font-family: Helvetica;
  color:white;
  margin-top: 4rem;
  height: 10rem;
}

.footer .con{
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  padding-top: 4rem;
}


@media only screen and (max-width: 1024px){
  .banner .container1{
    display:none;
  }

  .banner .container2{
    text-align: center;
    font-size: 18px;
    padding-top:0.75rem;
    padding-bottom: 0.75rem;
  }

  .pen{
    width:47%
  }

  .watch{
    width: 47%;
  }

  .glasses{
    display: none;
  }
}

@media only screen and (max-width: 470px){
  .header{
    height: 15rem;
  }

  .header .content{
    padding-top: 10rem;
  }

  .header .block{
    padding:1rem 2rem;
  }

  .block h2{
    font-size: 0.77rem;
    font-weight: bold;
  }

  .block h1{
    font-size: 1rem;
    font-weight: bold;
  }

  .watch{
    display: none;
  }

  .glasses{
    display: none;
  }

  .pen{
    width: 90%;
  }

  .pen img{
    width:90%;
  }

  .products{
    justify-content: center;
  }

  .l-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .Location{
    width: 90%;
    margin-bottom: 0.5rem;
  }

  .Hours{
    width: 90%;
  }

  .footer .con{
    text-align: center;
  }
}
