html{
  font-size: 18px;
}

body{
  font-size:18px;
  font-family: Helvetica;
}

.logo{
  background-color: black;

}

.container{
  max-width: 960px;
  margin: 0 auto;
  padding-left:0.5rem;
  display: flex;
  align-items: center;
}

.logo span{
  color:white;
  font-size: 1rem;
  font-family: Helvetica;
  margin-top:0.66rem;
  margin-bottom: 0.66rem;
  padding-left: 1rem;
}

.header{
  background-image:
  url(moto.jpeg);
  background-repeat: no-repeat;
  background-position: 0 -10rem ;
  background-size: cover;
  height: 25rem;
}

.header .content{
  max-width: 960px;
  margin: 0 auto;
  padding-top: 9rem;
}

.block{
  background-color: black;
  width: 20rem;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  padding: 2rem 3rem;
}

.block h1{
  font-size: 2rem;
}

.block p{
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.banner{
  background-color: firebrick;
}

.banner .container{
  max-width: 960px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 18px;
  padding-top:0.75rem;
  padding-bottom: 0.75rem;
}

.products{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.products .titles{
  padding: 0.5rem;
  color: white;
  background-color: black;
  font-family: Helvetica;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.products img{
  max-width: 8rem;
}

.img{
  padding: 2rem ;
  border-bottom: 4px solid black;
  text-align: center;
}

.pen{
  border: 4px solid black;
  width: 30%;
}

.watch{
  border: 4px solid black;
  width: 30%;
}

.glasses{
  border: 4px solid black;
  width: 30%;
}

.glasses .img{
  padding: 4.1rem 2rem;
}

.l-container{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-family: Helvetica;
}

.Location{
  width: 35%;
}

.Hours{
  width: 35%;
}

.Location .title{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding: 1rem;
}

.Hours .title{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding: 1rem;
}

.footer{
  background-color: black;
  font-family: Helvetica;
  color:white;
  margin-top: 4rem;
  height: 5rem;
}

.footer .con{
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  padding-top: 2rem;
}
